header{
	width: 100%;
	background-color:#980702 ;
	display: flex;
}
header .back,.cebianlan{
	flex: .5;
	text-align: center;
	line-height: 2.5rem;
	font-size: 18px;
	color: #fff;
}
header .title{
	flex: 2;
	text-align: center;
	line-height: 2.5rem;
	font-size: 16px;
	color: #fff;
}

.news{
	margin-top: 2.5rem !important;
}
/* 地图 */
.map{
	width: 100%;
	height: 240px;
	background-color: #fff;
	padding-bottom: 64px;
}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word}